<!DOCTYPE html>
<html>
<head>
    <title>Öğrenci Paneli</title>
</head>
<body>

<h2>{{ username }} - Notlarınız</h2>

<table border="1">
<tr>
    <th>Dönem</th><th>Y1</th><th>Y2</th><th>P1</th><th>P2</th><th>Proje</th><th>Ort</th><th>Yıl Sonu</th>
</tr>

{% for d in data %}
<tr>
    <td>{{ d[2] }}</td>
    <td>{{ d[3] or '' }}</td>
    <td>{{ d[4] or '' }}</td>
    <td>{{ d[5] or '' }}</td>
    <td>{{ d[6] or '' }}</td>
    <td>{{ d[7] or '' }}</td>
    <td>{{ d[8] or '' }}</td>
    <td>{{ d[9] or '' }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>